<div class="designers">
  <div class="container">
    <% @users.each do |user| %>
      <% if user.privilege == 0 %>
      <p>Name: <%= user.username %></p>
      <p>Email: <%= user.email %></p>
      <%= form_for user, :url => {:action => "designerify", :id => user} do |f| %>
        <%= f.submit("Make Designer", {:class => 'btn btn-primary float-right'}) %>
      <% end %>
      <br>
      <% end %>
    <% end %>
  </div>
</div>
